@media (max-width: 768px) {
    .indexpage.container-fluid {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    .hero-animation {
        display: none;
    }
    .hero-text h1 {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 0px;
    }
    .ourservices h1 {
        font-size: 6vw;
        font-weight: 500;
    }
    .build-content .text-content h1 {
        font-size: 5vw;
    }
    .hero-text .d-flex {
        flex-direction: column;
    }
    nav .navbar-brand img.site-logo {
        width: 100px;
        margin-top: 20px;
        margin-left: -20px;
    }

    #navbarNavAltMarkup {
        display: block;
        z-index: 1000;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .mainbanner,
    .mainbanner .hero-content {
        height: 600px;
    }
    .sponsorsbrand .brand-content span.brand-logos img {
        margin: 0px 15px;
        width: 100%;
    }

    .sponsorsbrand .brand-content span.brand-logos {
        display: flex;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-top: 10px;
    }
    .sponsorsbrand .brand-content span.brand-logos::-webkit-scrollbar {
        display: none;
    }
    #menuNav.navbar-nav.show {
        display: flex;
        position: fixed;
        top: 0px;
        width: 100vw;
        margin: auto;
        padding-top: 150px;
        align-items: center;
        height: 100%;
        left: 0px;
        z-index: 10000;
        background: rgba(0, 0, 0, 0.9);
    }

    div#menuNav a h4 {
        font-size: 7vw;
    }

    .hero-text {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-text .divider.divider-pink {
        margin: auto;
    }

    .hire-us .text-content h1 {
        font-size: 7vw;
    }

    .hero-jumbotron .hero-text p {
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .brand-logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0px;
        margin: 0px;
        height: 150px;
        width: 100%;
    }

    .sponsorsbrand img {
        height: 30px;
        margin: 5px auto;
    }

    .hero-content .sponsorsbrand {
        bottom: 70px;
        width: 100%;
        padding: 0px;
        height: 150px;
        padding: 20px 0px;
    }

    .brand-content {
        flex-direction: column;
    }

    .hero-jumbotron .hero-text p {
        margin: auto;
        text-align: center;
        width: 100%;
        font-size: 1em;
        line-height: 23px;
    }

    .hero-jumbotron .hero-text p {
        margin-top: 45px;
    }

    .sponsorsbrand .brand-content {
        height: 70px;
    }

    .sponsorsbrand.row.flex-column.mx-auto {
        height: 70px;
    }

    .sponsorsbrand .brand-content p {
        text-align: center;
        font-size: 1em;
        margin: 0px 0px;
        margin-top: -10px;
    }

    main.row.pb-4 {
        margin-top: -50px;
        z-index: 100;
        position: relative;
        width: 100%;
    }

    main section.our-services .row {
        padding-top: 20px !important;
    }

    main.row section.our-services {
        padding-top: 0px !important;
    }

    .hero-text .divider.divider-pink {
        margin: 40px auto -35px auto;
    }

    .our-services .col-lg-4 {
        text-align: center;
    }
    .our-services .col-lg-4 p {
        max-width: 100%;
        color: #88949e;
        font-size: 14px;
        line-height: 2;
    }

    .owl-item span.text {
        width: 100%;
        top: 0px;
        padding: 90px 35px;
        text-align: center;
        font-size: 15px;
    }

    .owl-item span.text q {
        font-size: 18px;
    }

    .owl-dots span {
        margin: 5px;
        padding: 0px;
    }

    .build-content .text-content h1 {
        font-size: 2em;
    }

    .build-content .text-content {
        position: relative;
        width: 100% !important;
        padding: 0px 20px;
    }

    .site-links .col-lg-3 {
        text-align: center;
    }

    .site-links .col-lg-6 {
        text-align: center;
        margin-top: 20px;
    }

    footer .site-links form button {
        width: 100%;
        margin-top: 20px;
    }

    footer .site-links form {
        padding: 0px 30px;
        flex-direction: column;
    }

    footer .footer-divider {
        margin: 30px;
    }

    footer .our-address {
        margin-top: 20px;
    }

    .site-address.google-map.container-fluid {
        display: none;
    }
    .site-links.container {
        margin-bottom: 0px !important;
    }

    section.build-with-us {
        height: 300px;
    }

    .build-with-us button.btn.btn-blue {
        font-size: 0.8em;
        padding: 10px;
        width: 120px;
    }

    footer.row .site-location img.footerlogo {
        height: 40px !important;
        width: 150px !important;
    }

    footer .site-links {
        padding: 0px !important;
    }
    footer .row.site-location {
        margin-bottom: 0px !important;
    }

    footer .row.pt-5 {
        width: 100%;
    }

    footer,
    footer.row.pt-0,
    .row.content.top {
        width: 100%;
        padding: 0px !important;
        margin: 0px !important;
    }
}

@media (min-width: 1800px) {
    .homepage .hero-text h1 {
        font-size: 4vw;
    }
    span.divider.divider-pink {
        margin-left: 10px;
    }
    .hero-jumbotron .hero-text p {
        font-size: 2.1vw;
        line-height: 60px;
        width: 45%;
    }
    nav .navbar-brand img.site-logo {
        width: 250px;
        height: 100px;
    }
    span#hamburgerMenu i {
        font-size: 25px;
        width: 80%;
    }
    span#hamburgerMenu {
        width: 100px;
    }
    .homepage .hero-animation span.animationsvg img {
        width: 100%;
    }
    .indexpage .hero-animation {
        width: 50%;
        height: 100%;
        top: 5%;
    }
    .navbar-nav a h4 {
        font-size: 2vw;
        margin: 30px 100px;
    }
    p {
        font-size: 1.3vw;
    }
    span.brand-logos img {
        margin: -15px 60px 0px 60px;
        width: 15%;
    }
    span.brand-logos {
        width: 50%;
    }
    .our-services .ourservices {
        margin-top: 50px;
    }
    .our-services h1 {
        font-size: 2.5vw;
    }
    span.divider {
        height: 25px;
        width: 50px;
    }
    .our-services img {
        width: 20%;
        height: 150px;
    }
    .our-services p {
        font-size: 1.3vw;
    }
    .build-content .text-content h1 {
        font-size: 2.5vw;
    }
    .build-content .text-content p {
        font-size: 1.3vw;
    }
    .build-content button {
        font-size: 1vw;
        width: 100%;
        height: 80px;
    }
    footer h5 {
        font-size: 1.3vw;
    }

    footer a {
        font-size: 1.1vw;
    }
    footer .openinghours p {
        font-size: 1.1vw;
    }
    footer img.footerlogo {
        width: 45% !important;
        height: 100px !important;
    }
    section.our-services h4 {
        font-size: 1.4vw;
        font-weight: 600;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero-text h1 {
        font-size: 3.5vw;
    }
    .homepage.hero-jumbotron.row {
        width: 50%;
        margin-top: -10%;
    }
    nav .navbar-brand img.site-logo {
        width: 20%;
        height: 80px;
    }
    .hero-animation {
        margin-top: 10%;
        right: 0px;
    }
    .hero-jumbotron .hero-text p {
        font-size: 2.2vw;
        font-weight: 600;
    }
    .brand-content {
        margin-top: -50px;
    }
    .hero-content .sponsorsbrand::before {
        margin-top: -40px;
    }
    .container-fluid.brands .sponsorsbrand {
        height: 100px;
    }
    main.main-content {
        top: -70px;
        position: relative;
        z-index: 100;
    }
    section.our-services.container-fluid.p-5 {
        padding-top: 0px !important;
    }
    footer.row.pt-0.mx-auto {
        margin-top: -140px;
        position: relative;
        z-index: 1000;
    }
    div#menuNav a {
        margin-top: 25px;
    }
    .homepage .hero-animation span.animationsvg img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1600px) {
    .hero-animation span.animationsvg img {
        width: 50%;
        margin-top: 50px;
    }
    .indexpage .hero-animation {
        width: 100%;
    }
    .hero-jumbotron .hero-text p {
        font-size: 1.7vw;
        width: 40%;
        font-weight: 500;
    }
}

@media (max-width: 425px) {
    div#particles-js {
        background-color: black;
    }

    .mainbanner.col-lg-12 {
        background: black;
    }
    .homepage .hero-text h1,
    .homepage .hero-text p {
        color: white;
    }
    .homepage .hero-text {
        margin-top: -70px !important;
    }
    main.row.main-content {
        margin-top: 0px;
    }
    .container-fluid.home-banner {
        margin-top: -100px;
        height: 100px;
    }
    .sponsorsbrand.row.flex-column.mx-auto {
        z-index: 100;
        position: relative;
        width: 100%;
        bottom: 0px;
    }
    .container-fluid.brands {
        background: white;
        width: 100%;
        height: 100px;
        margin-top: 0px;
        position: absolute;
        bottom: 5px;
        z-index: 1;
    }
}
